table {
    border: 1px solid red;
}

table th {
    border: 1px solid blue;
    padding: 5px;
}

table td {
    border: 1px dashed green;
    padding: 5px;
}

.container {
    margin: auto;
}

.center {
    text-align: center
}